*{
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

header{
    position: sticky;
    z-index: 20;
    top: 0;
    width: 100%;
    background-color: white;
}

footer{
    position: fixed;
    z-index: 20;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.iconborder{
    border: 2px solid black;
}

.black{
    color: black;
}

.search{
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.accountname{
    font-size: x-large;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.fix{
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: white;
}

.home{
    height: 43px;
}